In [1]:
import pandas as pd
import numpy as np
import json

In [6]:
# read file
with open('/home/raj/code/rs-uk/pictionary-ai/raw_data/octopus.ndjson', 'r') as file:
  data = file.read()

# parse file
obj =json.loads(data)

print(obj)

JSONDecodeError: Extra data: line 2 column 1 (char 486)

In [7]:
df = pd.read_json('/home/raj/code/rs-uk/pictionary-ai/raw_data/octopus.ndjson', lines=True)

In [10]:
df.head()

,word,countrycode,timestamp,recognized,key_id,drawing
0,octopus,CZ,2017-03-05 10:52:22.314850+00:00,True,4599994839465984,"[[[67, 69, 74, 94, 105, 116, 119, 115, 120, 13..."
1,octopus,CH,2017-01-23 21:23:00.117470+00:00,True,6746256573464576,"[[[99, 84, 80], [3, 25, 56]], [[93, 103, 116, ..."
2,octopus,DE,2017-03-20 10:26:01.810230+00:00,True,5419213730611200,"[[[202, 191, 170, 153, 140, 130, 127, 136, 151..."
3,octopus,SK,2017-03-03 21:40:11.371360+00:00,True,5953290716053504,"[[[0, 24, 42, 48, 48, 52, 66, 72, 88, 130, 152..."
4,octopus,DE,2017-01-27 20:01:53.025610+00:00,True,5005193466871808,"[[[98, 91, 90, 99, 115, 129, 144, 144, 132], [..."

In [27]:
np.array(df.drawing)

array([list([[[67, 69, 74, 94, 105, 116, 119, 115, 120, 138, 197, 223, 239, 251, 255, 255, 251, 244, 234, 222, 205, 174, 149, 133, 132, 136, 161, 161, 139, 125, 110, 107, 97, 87, 60, 46, 28, 12, 2, 0, 6, 28, 35, 40, 60, 69, 72], [105, 71, 45, 5, 0, 7, 14, 91, 97, 105, 97, 97, 102, 109, 114, 125, 137, 144, 147, 148, 137, 125, 122, 129, 140, 155, 185, 218, 224, 223, 209, 170, 156, 163, 195, 204, 209, 209, 206, 196, 182, 167, 159, 104, 92, 100, 110]]]),
       list([[[99, 84, 80], [3, 25, 56]], [[93, 103, 116, 123, 128, 129, 120], [9, 3, 0, 10, 22, 41, 65]], [[81, 130], [58, 60]], [[121, 157], [61, 104]], [[108, 105, 95, 88], [57, 85, 114, 123]], [[79, 66, 26, 16, 0], [56, 77, 128, 137, 146]], [[84, 37, 23, 15, 12], [59, 155, 177, 182, 180]], [[117, 111, 111, 121, 131, 144, 159, 172, 184], [62, 77, 98, 132, 149, 163, 170, 169, 157]], [[128, 146, 191, 216, 234, 249, 255], [71, 96, 124, 133, 135, 132, 126]], [[103, 102, 85, 73, 64], [67, 87, 158, 182, 190]]]),
       list([[[202, 191, 170, 153, 140, 130, 127, 136, 151, 171, 185, 193, 195, 190, 181, 168, 151], [17, 4, 0, 3, 14, 33, 62, 77, 80, 76, 66, 54, 30, 16, 7, 5, 16]], [[180, 241, 245, 242], [72, 154, 164, 166]], [[153, 87, 69], [86, 137, 144]], [[122, 84, 31], [60, 90, 127]], [[109, 49, 24, 0], [33, 71, 94, 122]], [[157, 157, 168, 171], [73, 115, 150, 151]], [[172, 176, 187, 206, 214], [64, 93, 121, 162, 168]], [[186, 225, 255], [62, 120, 172]], [[173, 191, 204], [68, 109, 161]]]),
       ...,
       list([[[198, 255], [108, 179]], [[172, 206, 225], [128, 186, 206]], [[143, 152], [138, 208]], [[129, 96], [129, 211]], [[94, 64, 49], [129, 170, 183]], [[84, 46, 26], [129, 147, 149]], [[63, 8, 0], [101, 111, 109]], [[78, 22], [76, 55]], [[156, 145, 117, 96, 90, 103, 138, 161, 185, 196, 209, 215, 215, 207, 191, 163, 134, 117, 108], [12, 12, 23, 46, 63, 109, 130, 131, 122, 114, 95, 72, 48, 26, 10, 0, 4, 11, 19]], [[134, 134], [41, 41]], [[172, 176], [47, 54]], [[111, 117], [67, 82]]]),
       list([[[55, 44, 45, 51, 66, 80, 78, 80, 85, 96, 107, 112, 113, 128, 134, 140, 150, 159, 161, 169, 181, 207, 219, 217, 212, 223, 237, 253, 252, 238, 212, 251, 255, 246, 234, 215, 223, 221, 217, 205, 190], [180, 228, 246, 248, 233, 199, 216, 228, 233, 237, 229, 217, 204, 244, 250, 250, 239, 217, 197, 213, 216, 239, 241, 223, 212, 215, 214, 203, 197, 185, 182, 168, 162, 151, 146, 144, 122, 116, 114, 115, 124]], [[53, 32, 3, 0, 7, 65, 66, 50, 51, 59, 97, 114, 125, 142, 155, 167, 186], [182, 182, 169, 163, 153, 142, 119, 37, 19, 7, 0, 0, 6, 25, 58, 99, 120]], [[91, 94], [42, 62]], [[113, 120], [41, 59]], [[119, 136, 130, 113, 113, 123], [106, 105, 115, 116, 110, 103]]]),
       list([[[87, 75, 76, 80, 88, 103, 131, 144, 151, 151, 143, 149, 145, 139, 116, 109, 91, 83, 79, 88], [65, 39, 25, 16, 7, 1, 2, 9, 26, 45, 59, 67, 80, 82, 74, 86, 86, 82, 74, 65]], [[79, 79, 68, 50, 30, 23, 45, 46, 44, 35, 24, 16, 8, 16, 24, 31, 32, 26, 3, 0, 6, 21, 35, 60, 71, 79, 86, 84, 63, 79, 97, 106, 102, 107, 111, 115, 125, 139, 150, 150, 146, 149, 170, 179, 186], [83, 98, 108, 110, 100, 83, 55, 42, 31, 20, 16, 20, 28, 28, 33, 41, 49, 63, 89, 104, 117, 131, 135, 131, 123, 110, 106, 117, 143, 140, 118, 112, 136, 148, 150, 146, 115, 141, 150, 122, 114, 111, 139, 147, 149]], [[150, 163, 177, 188, 207, 217, 235, 244, 253, 253, 248, 242, 233, 219, 211, 209, 204, 194, 169, 199, 209, 216, 243, 246], [79, 93, 94, 78, 33, 27, 27, 32, 44, 64, 63, 51, 44, 45, 57, 79, 90, 98, 104, 124, 127, 127, 113, 114]]])],
      dtype=object)

In [41]:
file_path = '/home/raj/code/rs-uk/pictionary-ai/raw_data/octopus.ndjson'

In [62]:

# with open(file_path, 'r') as f:
#      for line in f:
#           json_line = json.loads(line)

with open(file_path, 'r') as f:
     for i, line in enumerate(f):
        json_line = json.loads(line)
        print(json_line)
        if i > 5:
            break

{'word': 'octopus', 'countrycode': 'CZ', 'timestamp': '2017-03-05 10:52:22.31485 UTC', 'recognized': True, 'key_id': '4599994839465984', 'drawing': [[[67, 69, 74, 94, 105, 116, 119, 115, 120, 138, 197, 223, 239, 251, 255, 255, 251, 244, 234, 222, 205, 174, 149, 133, 132, 136, 161, 161, 139, 125, 110, 107, 97, 87, 60, 46, 28, 12, 2, 0, 6, 28, 35, 40, 60, 69, 72], [105, 71, 45, 5, 0, 7, 14, 91, 97, 105, 97, 97, 102, 109, 114, 125, 137, 144, 147, 148, 137, 125, 122, 129, 140, 155, 185, 218, 224, 223, 209, 170, 156, 163, 195, 204, 209, 209, 206, 196, 182, 167, 159, 104, 92, 100, 110]]]}
{'word': 'octopus', 'countrycode': 'CH', 'timestamp': '2017-01-23 21:23:00.11747 UTC', 'recognized': True, 'key_id': '6746256573464576', 'drawing': [[[99, 84, 80], [3, 25, 56]], [[93, 103, 116, 123, 128, 129, 120], [9, 3, 0, 10, 22, 41, 65]], [[81, 130], [58, 60]], [[121, 157], [61, 104]], [[108, 105, 95, 88], [57, 85, 114, 123]], [[79, 66, 26, 16, 0], [56, 77, 128, 137, 146]], [[84, 37, 23, 15, 12], [59, 155, 177, 182, 180]], [[117, 111, 111, 121, 131, 144, 159, 172, 184], [62, 77, 98, 132, 149, 163, 170, 169, 157]], [[128, 146, 191, 216, 234, 249, 255], [71, 96, 124, 133, 135, 132, 126]], [[103, 102, 85, 73, 64], [67, 87, 158, 182, 190]]]}
{'word': 'octopus', 'countrycode': 'DE', 'timestamp': '2017-03-20 10:26:01.81023 UTC', 'recognized': True, 'key_id': '5419213730611200', 'drawing': [[[202, 191, 170, 153, 140, 130, 127, 136, 151, 171, 185, 193, 195, 190, 181, 168, 151], [17, 4, 0, 3, 14, 33, 62, 77, 80, 76, 66, 54, 30, 16, 7, 5, 16]], [[180, 241, 245, 242], [72, 154, 164, 166]], [[153, 87, 69], [86, 137, 144]], [[122, 84, 31], [60, 90, 127]], [[109, 49, 24, 0], [33, 71, 94, 122]], [[157, 157, 168, 171], [73, 115, 150, 151]], [[172, 176, 187, 206, 214], [64, 93, 121, 162, 168]], [[186, 225, 255], [62, 120, 172]], [[173, 191, 204], [68, 109, 161]]]}
{'word': 'octopus', 'countrycode': 'SK', 'timestamp': '2017-03-03 21:40:11.37136 UTC', 'recognized': True, 'key_id': '5953290716053504', 'drawing': [[[0, 24, 42, 48, 48, 52, 66, 72, 88, 130, 152, 162, 162, 157, 136, 137, 157, 205, 210, 210, 185, 167, 130, 114, 109, 109, 114, 114, 97, 89, 77, 77, 82, 74, 57, 34, 20, 5, 4, 8, 8, 19], [187, 165, 139, 120, 66, 38, 12, 5, 0, 0, 13, 44, 59, 80, 134, 151, 177, 213, 220, 233, 239, 239, 218, 193, 202, 210, 228, 244, 255, 255, 244, 214, 198, 193, 198, 230, 239, 240, 219, 208, 177, 150]]]}
{'word': 'octopus', 'countrycode': 'DE', 'timestamp': '2017-01-27 20:01:53.02561 UTC', 'recognized': True, 'key_id': '5005193466871808', 'drawing': [[[98, 91, 90, 99, 115, 129, 144, 144, 132], [43, 34, 16, 6, 0, 4, 16, 25, 37]], [[97, 79, 58, 34, 10, 4, 0, 3, 40, 96, 84, 87, 93, 98, 94, 95, 109, 116, 126, 130, 144, 148, 149, 139, 143, 199, 243, 250, 252, 254, 213, 164, 133, 131], [43, 67, 75, 73, 57, 59, 65, 71, 84, 73, 141, 159, 165, 161, 142, 112, 87, 93, 137, 145, 158, 150, 131, 103, 86, 114, 118, 115, 110, 96, 90, 74, 57, 49]]]}
{'word': 'octopus', 'countrycode': 'DE', 'timestamp': '2017-03-02 10:24:15.40606 UTC', 'recognized': True, 'key_id': '6724261806866432', 'drawing': [[[96, 76, 63, 59, 59, 74, 116, 133, 149, 157, 157, 152, 140, 105], [0, 16, 35, 49, 66, 80, 89, 87, 69, 38, 23, 12, 5, 1]], [[63, 36, 23, 2, 0, 6, 8], [79, 105, 135, 172, 184, 196, 220]], [[74, 72, 59, 59, 73, 74, 70, 66, 62], [79, 102, 147, 167, 201, 209, 239, 244, 245]], [[105, 123, 123, 115], [90, 169, 214, 230]], [[131, 150, 174, 182, 192, 209, 209, 208], [89, 115, 136, 147, 202, 240, 252, 247]], [[141, 155, 196, 243, 254, 255], [77, 82, 110, 213, 235, 226]], [[93, 89, 88, 93, 101], [16, 23, 37, 44, 49]]]}
{'word': 'octopus', 'countrycode': 'BR', 'timestamp': '2017-01-26 17:49:08.98499 UTC', 'recognized': True, 'key_id': '5064235442765824', 'drawing': [[[71, 69, 92, 105, 127, 134, 156, 160, 184, 215, 244, 252, 255, 239, 215, 204, 183, 149, 165, 200, 206, 206, 195, 184, 178, 170, 149, 136, 139, 126, 118, 113, 113, 105, 73, 51, 27, 44, 69, 85, 50, 16, 16, 8, 7, 0, 46, 84, 53, 35, 20], [64, 29, 15, 3, 0, 2, 23, 84, 99, 100, 97, 119, 137, 141, 142, 137, 116, 95, 118, 154, 165, 174, 185, 186, 183, 158, 138, 115, 178, 192, 182, 166, 128, 103, 142, 149, 149, 133, 119, 97, 110, 108, 104, 103, 96, 91, 83, 86, 87, 77, 64]]]}

In [50]:
def parse_line(sample):
    """Parse an ndjson line and return ink (as np array) and classname."""
    #sample = json.loads(ndjson_line)
    class_name = sample["word"]
    inkarray = sample["drawing"]
    stroke_lengths = [len(stroke[0]) for stroke in inkarray]
    total_points = sum(stroke_lengths)
    np_ink = np.zeros((total_points, 3), dtype=np.float32)
    current_t = 0
    for stroke in inkarray:
        for i in [0, 1]:
            np_ink[current_t:(current_t + len(stroke[0])), i] = stroke[i]
        current_t += len(stroke[0])
        np_ink[current_t - 1, 2] = 1  # stroke_end

    # Preprocessing.
    # 1. Size normalization.
    lower = np.min(np_ink[:, 0:2], axis=0)
    upper = np.max(np_ink[:, 0:2], axis=0)
    scale = upper - lower
    scale[scale == 0] = 1
    np_ink[:, 0:2] = (np_ink[:, 0:2] - lower) / scale

    # 2. Compute deltas.
    np_ink[1:, 0:2] -= np_ink[0:-1, 0:2]
    np_ink = np_ink[1:, :]
    return np_ink, class_name

In [68]:
with open(file_path, 'r') as f:
     for i, line in enumerate(f):
        json_line = json.loads(line)
        np_ink, class_name = parse_line(json_line)
        print(np_ink)
        print(class_name)
        break

[[ 0.00784314 -0.1517857   0.        ]
 [ 0.01960784 -0.11607145  0.        ]
 [ 0.07843137 -0.17857142  0.        ]
 [ 0.04313725 -0.02232143  0.        ]
 [ 0.04313725  0.03125     0.        ]
 [ 0.01176471  0.03125     0.        ]
 [-0.01568627  0.34375     0.        ]
 [ 0.01960784  0.0267857   0.        ]
 [ 0.07058826  0.0357143   0.        ]
 [ 0.23137254 -0.0357143   0.        ]
 [ 0.10196078  0.          0.        ]
 [ 0.06274509  0.02232143  0.        ]
 [ 0.04705882  0.03125     0.        ]
 [ 0.01568627  0.02232146  0.        ]
 [ 0.          0.04910713  0.        ]
 [-0.01568627  0.0535714   0.        ]
 [-0.02745098  0.03125     0.        ]
 [-0.03921568  0.01339287  0.        ]
 [-0.04705882  0.00446427  0.        ]
 [-0.06666666 -0.04910713  0.        ]
 [-0.12156862 -0.0535714   0.        ]
 [-0.09803921 -0.01339287  0.        ]
 [-0.06274509  0.03125     0.        ]
 [-0.00392157  0.04910713  0.        ]
 [ 0.01568627  0.06696427  0.        ]
 [ 0.09803921  0.1339286   0.        ]
 [ 0.          0.1473214   0.        ]
 [-0.0862745   0.02678573  0.        ]
 [-0.05490199 -0.00446427  0.        ]
 [-0.05882353 -0.0625      0.        ]
 [-0.01176471 -0.17410713  0.        ]
 [-0.03921568 -0.0625      0.        ]
 [-0.03921568  0.03125     0.        ]
 [-0.10588236  0.14285713  0.        ]
 [-0.05490196  0.04017854  0.        ]
 [-0.07058824  0.02232146  0.        ]
 [-0.06274509  0.          0.        ]
 [-0.03921569 -0.01339287  0.        ]
 [-0.00784314 -0.04464287  0.        ]
 [ 0.02352941 -0.0625      0.        ]
 [ 0.08627451 -0.06696427  0.        ]
 [ 0.02745099 -0.03571433  0.        ]
 [ 0.01960784 -0.2455357   0.        ]
 [ 0.07843137 -0.0535714   0.        ]
 [ 0.03529413  0.03571427  0.        ]
 [ 0.01176471  0.04464287  1.        ]]
octopus

IndexError: too many indices for array: array is 2-dimensional, but 3 were indexed