In [1]:
import pandas as pd
import os

In [2]:
!cd .. && /raw_data_test
!pwd

zsh:1: no such file or directory: /raw_data_test
/home/shard777/code/rs-uk/pictionary-ai/notebooks

In [3]:
!pwd

/home/shard777/code/rs-uk/pictionary-ai/notebooks

In [39]:
file_path = "/home/shard777/code/rs-uk/pictionary-ai/raw_data_test/face.ndjson"

In [40]:
# Take too much time
#df = pd.read_json(file, lines = True)

In [59]:
df = pd.DataFrame()
with open(file_path, 'r') as f:
     for i, line in enumerate(f):
            if i > 0:
                break

            json_line = json.loads(line)
            df = pd.concat([df, pd.DataFrame(json_line)], ignore_index=True)
#             print(type(json_line))
#             print(json_line.keys())
#             print(json_line['word'], len(json_line['drawing']))
            coords = json_line['drawing']
    
            for vector in coords:
                print(len(vector))
                print(vector)

3
[[318, 312, 306, 300, 294, 289, 283, 278, 270, 264, 260, 256, 254, 250, 247, 244, 242, 239, 237, 234, 232, 229, 227, 225, 223, 221, 220, 218, 216, 215, 214, 213, 211, 209, 208, 207, 206, 205, 203, 201, 201, 201, 201, 201, 201, 201, 201, 201, 202, 203, 205, 207, 210, 212, 215, 217, 220, 224, 227, 232, 235, 241, 247, 253, 259, 265, 271, 276, 282, 291, 298, 304, 310, 316, 321, 328, 336, 343, 349, 355, 363, 369, 374, 381, 389, 400, 407, 412, 420, 433, 438, 445, 453, 458, 469, 476, 481, 486, 494, 503, 508, 516, 525, 530, 538, 546, 554, 561, 569, 574, 580, 587, 595, 601, 607, 613, 618, 625, 632, 637, 648, 654, 659, 663, 666, 670, 674, 676, 678, 681, 684, 687, 690, 692, 695, 697, 700, 702, 702, 704, 704, 704, 704, 704, 704, 704, 704, 704, 703, 703, 701, 700, 697, 696, 693, 691, 688, 683, 680, 677, 674, 671, 666, 663, 657, 651, 645, 639, 632, 626, 620, 614, 609, 604, 595, 590, 585, 577, 569, 563, 558, 553, 548, 543, 535, 525, 520, 514, 509, 500, 494, 487, 478, 472, 465, 456, 450, 444, 435, 427, 421, 415, 406, 401, 396, 385, 378, 373, 367, 357, 347, 341, 331, 325, 319, 313, 307, 301, 295, 290, 284, 279, 276], [225, 225, 226, 229, 232, 233, 237, 241, 249, 254, 259, 264, 269, 274, 279, 286, 291, 296, 301, 308, 314, 321, 329, 335, 340, 346, 352, 358, 363, 370, 375, 382, 389, 396, 403, 411, 417, 425, 431, 439, 446, 453, 459, 464, 469, 478, 486, 497, 503, 509, 514, 520, 526, 531, 536, 541, 546, 552, 558, 564, 570, 576, 582, 587, 593, 599, 603, 607, 611, 617, 622, 625, 627, 630, 632, 635, 638, 641, 644, 646, 648, 650, 651, 652, 655, 656, 658, 659, 660, 660, 660, 660, 660, 660, 662, 662, 662, 662, 662, 662, 662, 661, 661, 661, 659, 657, 656, 655, 653, 652, 650, 648, 644, 642, 639, 636, 633, 629, 624, 621, 614, 608, 600, 594, 588, 580, 574, 568, 562, 556, 550, 545, 539, 533, 527, 521, 513, 507, 501, 493, 487, 481, 474, 469, 463, 455, 449, 443, 437, 431, 425, 419, 411, 405, 398, 393, 387, 379, 373, 367, 361, 355, 349, 344, 336, 330, 324, 318, 313, 310, 305, 301, 297, 295, 290, 287, 285, 281, 276, 274, 271, 269, 267, 265, 262, 258, 256, 254, 252, 249, 247, 245, 242, 240, 238, 236, 236, 234, 232, 232, 230, 230, 228, 228, 227, 226, 225, 224, 224, 224, 224, 224, 224, 224, 224, 224, 224, 224, 225, 227, 229, 234, 237], [0, 6, 13, 22, 26, 31, 38, 43, 52, 57, 61, 65, 69, 73, 77, 81, 86, 88, 93, 97, 101, 107, 111, 117, 120, 123, 127, 131, 137, 138, 144, 147, 152, 155, 159, 163, 167, 171, 175, 179, 184, 187, 189, 191, 193, 197, 201, 207, 212, 215, 219, 223, 227, 231, 236, 239, 243, 248, 254, 259, 265, 272, 277, 284, 290, 296, 302, 306, 311, 321, 324, 329, 334, 338, 341, 345, 350, 355, 359, 363, 368, 371, 373, 376, 381, 387, 391, 393, 397, 403, 406, 409, 413, 415, 422, 425, 427, 429, 433, 439, 441, 444, 447, 450, 453, 457, 461, 465, 470, 472, 476, 479, 485, 487, 491, 495, 501, 505, 509, 513, 522, 527, 536, 542, 547, 555, 562, 568, 573, 579, 586, 590, 597, 600, 607, 611, 618, 624, 630, 638, 645, 649, 656, 660, 667, 672, 679, 686, 690, 696, 703, 706, 713, 718, 725, 729, 733, 740, 744, 751, 758, 764, 772, 776, 787, 797, 804, 812, 820, 827, 831, 838, 843, 847, 851, 855, 860, 864, 871, 875, 880, 884, 888, 891, 897, 905, 911, 914, 917, 923, 928, 933, 938, 943, 945, 952, 954, 959, 965, 972, 977, 980, 988, 990, 995, 1003, 1011, 1014, 1018, 1026, 1037, 1043, 1054, 1062, 1072, 1080, 1091, 1103, 1117, 1140, 1170, 1197, 1233]]
3
[[351, 351, 351, 347, 341, 335, 329, 323, 317, 313, 311, 311, 311, 311, 315, 317, 323, 329, 335, 341, 347, 353, 359, 365, 367, 371, 373, 375, 375, 377, 377, 375, 373, 369, 363, 357, 351, 345, 339, 333, 327, 321, 317, 313, 311, 311], [344, 350, 356, 362, 364, 364, 364, 364, 362, 356, 350, 344, 338, 332, 326, 320, 316, 314, 314, 312, 312, 312, 312, 316, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 380, 382, 382, 382, 380, 378, 376, 370, 364, 358, 352, 348], [1791, 1823, 1848, 1872, 1893, 1914, 1929, 1945, 1968, 2008, 2021, 2030, 2042, 2055, 2071, 2087, 2104, 2114, 2123, 2129, 2137, 2145, 2161, 2195, 2207, 2219, 2226, 2236, 2245, 2254, 2261, 2271, 2281, 2297, 2311, 2330, 2350, 2367, 2385, 2398, 2412, 2430, 2449, 2467, 2478, 2492]]
3
[[549, 544, 538, 528, 522, 516, 508, 502, 496, 490, 484, 478, 470, 464, 460, 458, 458, 458, 464, 470, 478, 484, 490, 497, 502, 510, 519, 527, 533, 541, 549, 555, 563, 573, 579, 586, 589, 591, 591, 591, 591, 591, 590, 588, 585, 581, 577, 569, 564, 556, 550, 544, 538, 530, 524, 516, 510, 502, 494, 488, 482, 476, 470, 464, 460, 458, 456, 456, 462, 462], [386, 389, 391, 393, 393, 393, 393, 393, 393, 393, 389, 385, 379, 373, 367, 361, 355, 349, 345, 341, 337, 335, 331, 330, 329, 325, 325, 323, 323, 322, 321, 321, 321, 322, 323, 327, 333, 339, 345, 351, 357, 363, 371, 377, 384, 389, 395, 401, 405, 407, 411, 413, 413, 413, 413, 413, 413, 411, 409, 407, 403, 401, 397, 391, 385, 379, 373, 367, 365, 365], [2895, 2914, 2925, 2937, 2944, 2950, 2958, 2966, 2972, 2981, 2992, 3006, 3019, 3029, 3041, 3057, 3071, 3086, 3098, 3108, 3119, 3125, 3134, 3143, 3146, 3153, 3161, 3168, 3172, 3177, 3184, 3189, 3195, 3204, 3213, 3224, 3243, 3253, 3261, 3272, 3281, 3290, 3303, 3313, 3322, 3331, 3343, 3353, 3362, 3370, 3383, 3391, 3397, 3406, 3414, 3420, 3427, 3435, 3443, 3451, 3457, 3464, 3475, 3487, 3495, 3504, 3520, 3538, 3563, 3572]]
3
[[314, 318, 324, 330, 336, 346, 352, 357, 369, 375, 381, 394, 401, 406, 418, 433, 444, 449, 459, 470, 482, 495, 502, 516, 528, 541, 552, 563, 583, 588, 598, 605, 613, 619, 626, 638, 643, 650, 654, 656, 657], [555, 561, 567, 573, 579, 583, 587, 589, 593, 595, 597, 601, 602, 604, 608, 610, 612, 612, 614, 614, 616, 617, 618, 618, 618, 620, 620, 620, 620, 620, 619, 617, 615, 613, 610, 601, 598, 592, 586, 581, 578], [4335, 4346, 4357, 4366, 4374, 4383, 4388, 4395, 4404, 4407, 4411, 4419, 4423, 4426, 4433, 4438, 4442, 4445, 4448, 4453, 4456, 4459, 4462, 4466, 4471, 4474, 4477, 4483, 4488, 4492, 4495, 4500, 4505, 4508, 4511, 4522, 4525, 4532, 4538, 4542, 4553]]

In [60]:
df

,word,countrycode,timestamp,recognized,key_id,drawing
0,face,CH,2017-03-19 15:52:39.229 UTC,True,5152530285723648,"[[318, 312, 306, 300, 294, 289, 283, 278, 270,..."
1,face,CH,2017-03-19 15:52:39.229 UTC,True,5152530285723648,"[[351, 351, 351, 347, 341, 335, 329, 323, 317,..."
2,face,CH,2017-03-19 15:52:39.229 UTC,True,5152530285723648,"[[549, 544, 538, 528, 522, 516, 508, 502, 496,..."
3,face,CH,2017-03-19 15:52:39.229 UTC,True,5152530285723648,"[[314, 318, 324, 330, 336, 346, 352, 357, 369,..."